<StackLayout padding="30">
  <Button text="Choose File" (tap)="chooseFile()"></Button>

  <Image [src]="savedFile?.path" width="100" height="100"></Image>
  <Label [text]="savedFile?.path"></Label>
  <Label [text]="savedFile?.name"></Label>
  <Label [text]="savedFile?.size"></Label>
  <Label [text]="savedFile?.extension"></Label>
</StackLayout>
